*.iml
.gradle
.externalNativeBuild

/local.properties
/.idea/libraries
/.idea/gradle.xml
/.idea/markdown-navigator
/.idea/markdown-navigator/*
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
/build

gradle.properties

